<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="text-center">{{getPin()}}</h1>
                <p class="text-center">Open the app, enter this pin code and scan your card to login</p>
                <div class="row" style="margin-top:30px;">
                    <div class="col-auto align-self-end m-auto">
                        <div class="loading-dots">
                        <div class="dot-container">
                            <div class="dot first"></div>
                        </div>
                        <div class="dot-container">
                            <div class="dot second"></div>
                        </div>
                        <div class="dot-container">
                            <div class="dot third"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>