<header>
    <nav class="navbar navbar-light navbar-expand-md sticky-top">
        <div class="container-fluid"><a class="navbar-brand" (click)="home()" style="margin-left:0;"><img src="assets/img/logo.png" height="75" style="height:67px;margin:-25px;"><span style="margin-left:22px;">Wunderbaren </span></a><button class="navbar-toggler" data-toggle="collapse"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Logout </a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/swish">Fill swish</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>