<div class="container">
    <div class="row" style="margin-top:30px;">
        <div *ngFor="let item of getItems()" class="col-sm-6 col-md-4 col-lg-3" style="margin-bottom:30px;">
            <div class="card" (click)="addItem(item)">
                <div class="card-body">
                    <div class="card-title">{{item.title}}<small>x{{item.stock}}:{{item.cost}} kr</small></div>
                    <h6 class="text-muted card-subtitle mb-2">{{item.type}}</h6>
                    <p class="card-text">{{item.description}}</p>
                    <!-- <a class="card-link" style="color:white">Instructions </a>
                    <a class="card-link" style="color:white" (click)="addItem(item)">Add </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="wallet != undefined" class="alert">
    User has {{wallet}} kr in wallet
</div>

<input class="rfid" type="text" name="rfid" [(ngModel)]="rfid" (keyup.enter)="getUser()" onblur="this.focus()" autocomplete="off" autofocus #rfidInput>
<payment-footer></payment-footer>