<div class="container">
    <div class="row">
        <div *ngFor="let group of groups" class="col-12 col-sm-6 col-md-4 col-lg-3 offset-0 offset-lg-0" style="margin-top:15px;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{group.name}}</h4>
                    <h6 class="text-muted card-subtitle mb-2">Amber gold</h6>
                    <p class="card-text">Cheap beer from Finland.</p>
                </div>
            </div>
        </div>
    </div>
</div>