<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="text-center">{{getPin()}}</h1>
                <p class="text-center">Open the app, enter this pin code and scan your card to login, or if connected, scan your card directly on the connected reader</p>
                <div class="row mt-5">
                    <div class="col-auto align-self-end m-auto">
                        <div class="loading-dots">
                        <div class="dot-container">
                            <div class="dot first"></div>
                        </div>
                        <div class="dot-container">
                            <div class="dot second"></div>
                        </div>
                        <div class="dot-container">
                            <div class="dot third"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input class="rfid" type="text" name="rfid" [(ngModel)]="rfid" (keyup.enter)="loginRFID()" onblur="this.focus()" autocomplete="off" autofocus #rfidInput>