<div>
  <h3>
    Wunderbaren slår upp portarna för andra gången det här året!
  </h3>
  <p>
    I baren väntas gott sällskap, barsnacks och såklart förfriskningar.<br />
    Det kommer finnas allt från öl till cider till vin till drinkar(i begränsad variation)
  </p>
  <p>
    Festen väntas äga rum fredag den <i>16:e Juni</i> på <i>Swedenborgsgatan 34A</i><br />
    Alla är välkomna från 18:00.<br />
    Efter 21:00 så låses ytterdörren och du måste då ringa någon som kan komma ner och öppna dörren. Föreslagsvis mig på 070 345 1965
  </p>
</div>
