<div *ngIf="userService.requestLogin" class="overlay w3-animate-opacity" (click)="userService.requestLogin = false"></div>
<div *ngIf="userService.requestLogin" class="login">
  <div class="w3-card w3-animate-bottom">
    <header class="w3-container w3-padding w3-light-gray">
      <span *ngIf="!newUser" class="w3-animate-opacity">
        <h3>Logga in</h3>
      </span>
      <span *ngIf="newUser" class="w3-animate-opacity">
        <h3>Registrera en ny användare</h3>
      </span>
    </header>
    <div class="w3-container w3-white">
      <form #userform method="POST" action="{{newUser?authURL+'/user':authURL+'/authz'}}" name="userform" id="form">
        <input class="w3-check w3-margin" [checked]="newUser" (change)="newUser = !newUser" type="checkbox"><label>Ny användare</label><br />
        <input type="hidden" name="client_id" id="client_id" value="wunderbarenrml59a10ad6ab0jubpe5c">
        <input type="hidden" name="redirect_uri" id="redirect_uri" value="{{baseURL}}">
        <input type="hidden" name="response_type" id="response_type" value="code">
        <div *ngIf="!newUser" class="w3-animate-opacity">
          <input class="w3-input w3-animate-input" style="width: 50%;" type="text" name="username" [(ngModel)]="username" id="username" placeholder="Namn Namnsson"><br />
          <input class="w3-input w3-animate-input" style="width: 50%;" type="password" name="password" [(ngModel)]="password" id="password" placeholder="Lösenord"><br />
        </div>
        <div *ngIf="newUser" class="w3-animate-opacity">
          <input class="w3-input w3-animate-input" style="width: 50%;" type="text" name="username" [(ngModel)]="username" id="username" placeholder="Namn Namnsson"><br />
          <input class="w3-input w3-animate-input" style="width: 50%;" type="number" name="number" [(ngModel)]="number" id="number" placeholder="070 xxx xxxx"><br />
          <input class="w3-input w3-animate-input" style="width: 50%;" type="password" name="password" [(ngModel)]="password" id="password" placeholder="Lösenord"><br />
        </div>
        <button type="submit" [disabled]="!isValid()"  form="form" value="Submit" (click)="userform.submit()" class="w3-btn w3-blue-grey w3-margin">{{newUser?"Registrera":"Logga in"}}</button>
      </form>
    </div>
    <footer *ngIf="newUser" class="w3-container w3-padding w3-light-gray">
      <small>
        <i>
          Alla användaruppgifter lagras hashat i en lokal databas.<br />
          Autentisering sker med OAuth 2.0 och OpenID Connect.<br />
          JSON WebTokens används för att säkerställa vem som tar hand om inloggninguppgifterna.<br />
          Nonce tokens används för att unvika replay attacker.<br />
          Servern kör med TSL för kryptering av data trafik.<br />
        </i>
      </small>
    </footer>
  </div>
</div>
