.overlay{
  position: absolute;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  background-color: rgba(0,0,0,0.5);
}

.login {
  position: absolute;
  margin: auto;
  left: 25%;
  width: 50%;
  top: 15%;
}
@media screen and (max-width: 600px) {
  .login {
    left: 0%;
    width: 100%;
  }
}
