<div class="w3-panel w3-light-gray header">
  <img src="/assets/logo.png" class="w-loggo">
  <span class="w3-lobster w3-xxxlarge w3-opacity title">Wunderbaren</span><span class="w3-text-red"><!--(under construction)--></span>
</div>

<div class="center">
  <div class="w3-panel w3-rest w3-twothird w3-animate-opacity">
    <stock></stock>
  </div>
  <div class="w3-panel w3-border-left w3-rest w3-third w3-animate-opacity">
    <event></event>
  </div>
</div>

<div class="w3-container w3-padding w3-light-gray footer">
  <div *ngIf="!userService.isLoggedIn">
    Om du inte vill prata med bartendern så går det bra att beställa i mobilen om du först loggar in
    <small>
      (beställningen hämtas i baren)
    </small>
    <button (click)="userService.requestLogin = true" class="w3-btn w3-blue-grey" style="float:right">Logga in</button>
  </div>
  <div *ngIf="userService.isLoggedIn">
    {{userService.userData ? 'Inloggad som: ' + userService.userData.username : ''}}
  </div>
</div>

<login></login>
