<div>
  <div class="w3-half w3-padding">
    <ul class="w3-ul">
      <li><h4>ÖL</h4></li>
      <li *ngFor="let item of beerList" class="w3-display-container">
        <item [item]="item"></item>
      </li>
    </ul>
  </div>

  <div class="w3-half w3-padding">
    <ul class="w3-ul">
      <li><h4>CIDER</h4></li>
      <li *ngFor="let item of ciderList" class="w3-display-container">
        <item [item]="item"></item>
      </li>
    </ul>
  </div>

  <div class="w3-half w3-padding">
    <ul class="w3-ul">
      <li><h4>VIN</h4></li>
      <li *ngFor="let item of wineList" class="w3-display-container">
        <item [item]="item"></item>
      </li>
    </ul>
  </div>

  <div class="w3-half w3-padding">
    <ul class="w3-ul">
      <li><h4>DRINKAR</h4></li>
      <li *ngFor="let item of drinkList" class="w3-display-container">
        <item [item]="item"></item>
      </li>
    </ul>
  </div>
</div>
