<div>
  <div class="w3-half w3-padding">
    <ul class="w3-ul">
      <li><h4>ÖL</h4></li>
      <li class="w3-display-container">
        Mariestad
        <span class="w3-display-right">
          55
        </span>
      </li>
      <li class="w3-display-container">
        Pistonhead
        <span class="w3-display-right">
          34
        </span>
      </li>
      <li class="w3-display-container">
        Hoegarden
        <span class="w3-display-right">
          4
        </span>
      </li>
      <li class="w3-display-container">
        1664 Blanc
        <span class="w3-display-right">
          7
        </span>
      </li>
    </ul>
  </div><div class="w3-half w3-padding">
  <ul class="w3-ul">
    <li><h4>CIDER</h4></li>
    <li class="w3-display-container">
      Sommersby päron
      <span class="w3-display-right">
          13
        </span>
    </li>
    <li class="w3-display-container">
      Strongbow
      <span class="w3-display-right">
          4
        </span>
    </li>
  </ul>
</div><div class="w3-half w3-padding">
  <ul class="w3-ul">
    <li><h4>VIN</h4></li>
    <li class="w3-display-container">
      Tre apor
      <span class="w3-display-right">
          1 flaska
      </span>
    </li>
    <li class="w3-display-container">
      Chateau flogsta
      <span class="w3-display-right">
          2 flaskor
      </span>
    </li>
  </ul>
</div>
</div>
