<div class="container" style="margin-top:30px;">
    <div class="jumbotron">
        <h1>Payment </h1>
        <p></p>
        <div class="row">
            <div class="col-md-8">
                <p>Scan a card to pay with it.</p>
                <button class="btn btn-success" type="button" style="margin-bottom:30px;">Pay with swish</button>
            </div>
            <div class="col-md-4">
                <ul>
                    <li *ngFor="let item of getItems()">{{item.title}}</li>
                </ul>
                <hr>
                <div style="margin-top:-9px;"><span style="margin-left:10px;">Total </span><em class="float-right" style="margin-right:60px;">{{getTotal()}}:- </em></div>
            </div>
        </div>
    </div>
</div>